'exception-reporting':
  'userId': '08501c52-eca2-97e7-d2c0-2be10c7ce3da'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8991cedca9e2d55152edf84dde1baddf79f09def'
'core':
  'themes': [
    'atom-dark-ui'
    'base16-eighties-dark'
  ]
  'projectHome': 'C:\\code'
  'useReactEditor': true
  'ignoredNames': [
    '.map'
  ]
  'disabledPackages': [
    'atom-compile-coffee'
    'coffee-lint'
    'atomatigit'
    'atom-spotify'
    'regex-railroad-diagram'
    'minimap'
    'minimap-find-and-replace'
    'minimap-git-diff'
    'minimap-highlight-selected'
  ]
'editor':
  'fontFamily': 'Source Code Pro'
  'tabLength': 4
  'fontSize': 18
  'showInvisibles': true
  'showIndentGuide': true
  'preferredLineLength': 360
  'scrollSensitivity': 60
  'softTabs': false
  'enforceHardTabs': true
  'requireHardTabs': true
'coffee-compile':
  'noTopLevelFunctionWrapper': false
  'compileOnSave': true
'find-and-replace':
  'focusEditorAfterSearch': true
  'openProjectFindResultsInRightPane': true
'git-diff':
  'showIconsInEditorGutter': true
'grammar-selector':
  'showOnRightSideOfStatusBar': true
'tree-view':
  'showOnRightSide': true
'tabs-to-spaces.onSave': 'tabify'
'autocomplete':
  'includeCompletionsFromAllBuffers': true
'autocomplete-plus':
  'includeCompletionsFromAllBuffers': true
  'fileBlacklist': '*.map'
  'autoActivationDelay': 250
'autosave': {}
'fuzzy-finder':
  'ignoredNames': [
    '*.map'
  ]
  'traverseIntoSymlinkDirectories': true
'minimap':
  'plugins':
    'find-and-replace': false
  'autoToggle': true
'coffee-lint':
  'continuousLint': false
  'lintOnSave': false
'atom-spotify':
  'showEqualizer': true
'git-blame': {}
